.main {
    height: 100%;
    padding: 8px;
    padding-top: 25px;
    padding-bottom: 32px;
    background: rgba(0, 121, 191, 1);
}

.board-container {
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 1234px){
    .board-container {
        flex-direction: column;
        justify-content: center;
        padding-top: 100px;
        padding-left: 13px;
        background: rgba(0, 121, 191, 1);
    }

    .main {
        padding: 0px;
    }
}