.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
    padding: 0 20px;
    background: rgba(0, 103, 163, 1);
}

span {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}