.container {
width: 145px;
}

.user-menu__btn {
    background-image: url(../../img/user-menu.svg);
    background-color: inherit;
    margin-left: 70px;
    width: 64px;
    height: 40px;
    position: relative;
}

.strike {
    background-image: url(../../img/user-menu-2.svg);
}

.user-menu {
    height: 60px;
    width: 134px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
}

.rectangle {
    background-image: url(../../img/rectangle.svg);
    position: absolute;
    height: 11px;
    width: 15px;
    margin-left: 72px;
    margin-top: -18px;
    z-index: 1;
}

.user-menu__item {
    font-size: 14px;
    height: 18px;
    margin-bottom: 8px;
    padding: 2px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.user-menu__item:hover {
    background: rgba(51, 153, 255, 0.2);
}